*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #0b0b0b;

}
main{
    height: 100%;
    width: 100%;
    display: flex;
 justify-content: center;
 align-items: center;
 gap: 20px;
}
img{
    height: 50vh;
    border-radius: 10px;
}
button{
    padding: 10px 20px;
    background-color: lightblue;
    color: white;
    border-radius: 10px;
    border: none;
}
button:active{
    scale: 0.95;
}